*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:  "Madimi One", sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
:root{
    --bg-color: #fff;
    --text-color: #ffffff;
    --second-color: #5a7184;
    --main-color: #6e54fa;
    --big-font: 6rem;
    --h2-font: 3rem;
    --p-font: 1.1rem
} 

body{
    background: var(--bg-color);
    color: var(--text-color);
}

header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px ;
    transition: ease .40s;
}

.logo{
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgb(177, 123, 123);
    font-family: cursive;
}

.navbar{
    display: flex;
    color: var(--text-color);
    color: rgb(177, 123, 123);
}

.navbar a{
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: bold;
    padding: 10px 22px;
    border-radius: 4px;
    transition: ease .40s;
    color: rgb(177, 123, 123);
}

.navbar a:hover{
    background: var(--bg-color);
    color: var(--text-color);
    box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
    border-radius: 4px;
}

#menuicon{
    color: var(--bg-color);
    font-size: 35px;
    z-index: 1001;
    cursor: pointer;
    display: none;
}

section{
    padding: 80px 18px;
}

.home{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(img/home\ pic.jpg);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}

.caption h1{
    font-size: var(--big-font);
    line-height: 1.1;
    color: var(black);
    font-family: "Almendra", serif;
    letter-spacing: 4px;
    margin-bottom: 20px ;
    padding-left: 60px;

}

.caption p{
    color:black;
    font-size: 50px;
    font-weight: 400;
    line-height: 38px;
    margin-bottom: 50px;
    padding-left: 80px;
}
.about{
    background-color:bisque;
}
.about p{
    width:1000px ;
    height: 500px;
    padding: 30px;
    background-color: bisque;
    color:black;
    font-size: 14px;
    font-weight: 100;
    line-height: 30px;
    margin-bottom: 50px;
    padding-left: 70px;
    font-family:cursive;
}
#about{
    color: black;
    margin-bottom: 10px;
}
.parapic{
    display: flex;
}
#totalaboutpic{
    width: 450px;
    height: 810px;
    padding-bottom: 250px;
    padding-left: 80px;
    margin:-30px;
}
.our_special{
    margin-top: -10px;
    background-color: lemonchiffon;
    display:grid;
}
.menu{
    background-color: black;
}
#spl_para{
    color: black;
    width: auto;
    
    margin-left: 50px;
    font-family: cursive;
}
#spl_h1{
    color: rgb(0, 0, 0);
}
#typesofpizza{
    width: 100%;
    height: 95%;
    
}
#menu1{
    width: 100%;
    height: 100%;
    margin: 0;
}
#contact_h1{
    color: black;
}
.contact{
    background-color: lightpink;
    margin-top: -20px ;
    height: 770px;
}
#contact_p{
    
    color: brown;
}

.box1{
    width: 250px;
    height: 300px;
    background-color: #5a7184;
}
.box2{
    width: 250px;
    height: 300px;
    background-color: #5a7184;
}
.box3{
    width: 250px;
    height: 300px;
    background-color: #5a7184;
}
.totbox{
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    margin-top: 100px;
}
#phone,#emailogo{
    font-size: 60px;
    padding-left: 90px;
}
#tbphone,#tbemail,#tbig{
    text-align: center;
    color: rgb(218, 216, 221);
    font-family: 'Times New Roman', Times, serif
}
#tbdail{
    color: bisque;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
}
#iglogo{
    font-size: 60px;
    padding-left: 90px;
    padding-top: 20px;
}
#tbe{
    color: bisque;
    font-size: 25px;
    text-align: center;
    margin-top: 45px;
}
#tbi{
    color: bisque;
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
}